<section class="l-comments">
	<div class="c-comments">
		<ul class="c-comments__list">
			<li class="c-comments__item -left">Последние отзывы</li>
			<li class="c-comments__item -left"><a href="#" alt=""><strong>Все отзывы</strong></a></li>
			<li class="c-comments__item -guantity -right">14</li>
			<li class="c-comments__item -like -right">131</li>
		</ul>
	</div>
	<div class="c-commentsBody">
		<div class="c-commentsBody__item">
			<ul class="c-commentsBody__title">
				<li class="c-commentsBody__name">Ann</li>
				<li class="c-commentsBody__date"><small>13 ornz,hz 2011</small></li>
			</ul>
			<div class="c-commentsBody__text">
				<p>
					consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet 
					dolore magna aliguam erat volutpat. Ut wisis enim ad minim veniam, quis nostrud 
					exerci tution ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
				</p>
			</div>
		</div>
		<div class="c-commentsBody__item">
			<ul class="c-commentsBody__title">
				<li class="c-commentsBody__name">Ann</li>
				<li class="c-commentsBody__date"><small>13 ornz,hz 2011</small></li>
			</ul>
			<div class="c-commentsBody__text">
				<p>
					consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet 
				</p>
			</div>
		</div>
		<div class="c-commentsBody__item">
			<ul class="c-commentsBody__title">
				<li class="c-commentsBody__name">Ann</li>
				<li class="c-commentsBody__date"><small>13 ornz,hz 2011</small></li>
			</ul>
			<div class="c-commentsBody__text">
				<p>
					consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet 
				</p>
			</div>
		</div>
	</div>
</section>
<section class="l-form">
	<form class="c-form">
		<textarea class="c-form__text"></textarea>
		<button class="c-form__send">Написать консультанту</button>
	</form>
</section>