<header class="l-header">
	<nav class="c-header">
		<ul class="c-header__list -left">
			<li class="c-header__item"><a href="#">About us</a></li>
			<li class="c-header__item"><a href="#">Reservation</a></li>
			<li class="c-header__item"><a href="#">Gallery</a></li>
		</ul>
		<div class="c-header__logo">
			<img class="c-header__logo_img" src="img/logo.png" alt=""/>
			<p class="c-header__logo_text">yoga</p>
		</div>
		<ul class="c-header__list -right">
			<li class="c-header__item"><a href="#">Blog</a></li>
			<li class="c-header__item"><a href="#">Elements</a></li>
			<li class="c-header__item"><a href="#">Shop</a></li>
		</ul>
	</nav>
</header>

