<section class="l-program">
	<div class="c-programHead">
		<h2 class="c-programHead__title">Yoga FEATURE PROGRAM</h2>
		<p class="c-programHead__text">Our Classes</p>
	</div>
	<div class="c-program">
		<ul class="c-program__list">
			<li class="c-program__item -left">
				<a href="#" class="c-program__image"><img src="img/program1.jpg"></a>
				<div class="c-program__content">
					<h3 class="c-program__title"></h3>
					<p class="c-program__text"><p>
					<figcaption class="c-program__description"></figcaption>
				</div>
			</li>
			<li class="c-program__item -right">
				<a href="#" class="c-program__image"><img src="img/program2.jpg"></a>
				<div class="c-program__content">
					<h3 class="c-program__title"></h3>
					<p class="c-program__text"><p>
					<figcaption class="c-program__description"></figcaption>
				</div>
			</li>
			<li class="c-program__item -left">
				<a href="#" class="c-program__image"><img src="img/program3.jpg"></a>
				<div class="c-program__content">
					<h3 class="c-program__title"></h3>
					<p class="c-program__text"><p>
					<figcaption class="c-program__description"></figcaption>
				</div>
			</li>
			<li class="c-program__item -right">
				<a href="#" class="c-program__image"><img src="img/program4.jpg"></a>
				<div class="c-program__content">
					<h3 class="c-program__title"></h3>
					<p class="c-program__text"><p>
					<figcaption class="c-program__description"></figcaption>
				</div>
			</li>
		</ul>
	</div>
</section>